@import url(../fonts/inter.css);
/* Optional: Normalize specific properties */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /* reset margins for headers */
}

p {
  margin: 0 0 1em; /* add spacing below paragraphs */
}

ul,
ol {
  margin: 0; /* reset margins for lists */
  padding: 0; /* reset padding for lists */
}

a {
  color: inherit; /* use inherited text color for links */
  text-decoration: none; /* remove underline from links */
}

table {
  border-collapse: collapse; /* ensure borders are collapsed */
  width: 100%; /* make tables span full width */
}

img {
  max-width: 100%; /* ensure images are responsive */
  height: auto; /* maintain aspect ratio */
}

body {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #343a40;
  font-size: 100%;
  line-height: 1.5;
}

.header {
  position: relative;
  color: white;
  padding: 70px 0 20px 0;
  background-image: url("../image/banner.webp");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.5;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  position: relative;
  z-index: 999;
  max-width: 100vw;
}
.header .navbar .logo {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
}
.header .navbar .nav-links {
  list-style: none;
  display: flex;
}
.header .navbar .nav-links li {
  margin-left: 20px;
}
.header .navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.header .navbar .nav-links li a:hover {
  color: #000;
}
.header .hero {
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 9;
}
.header .hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.header .hero p {
  font-size: 24px;
}

.header-top {
  padding: 8px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  background-color: rgba(233, 239, 235, 0.25);
  border-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  top: 0;
  transition: top 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99;
}

.header-scrolled {
  position: fixed;
  animation: slideDown 0.7s ease-in-out forwards;
}
.header-scrolled .navbar .logo {
  color: #1f1f1f;
}
.header-scrolled .navbar .nav-links li a {
  color: #1f1f1f;
}

@keyframes slideDown {
  0% {
    top: -70px;
  }
  100% {
    top: 0;
  }
}
/* Class to show the header */
.header-show {
  top: 0;
}

section {
  padding: 60px 15px;
  text-align: center;
  margin-bottom: 0;
}
section h2 {
  font-size: 36px;
  margin-bottom: 18px;
  margin-top: 0;
}
section p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}
section:nth-child(odd) {
  background-color: #f8f9fa;
}
section:nth-child(even) {
  background-color: #fff;
}
section .container {
  position: relative;
  z-index: 10;
}

.about ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
.about li {
  margin: 5px 10px;
  display: inline-block;
}
.about a {
  text-decoration: none;
  color: #343a40;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}
.about a:hover {
  text-decoration: underline;
  color: #000;
}

.about,
.skills,
.projects,
.contact {
  margin-bottom: 20px;
}
.about p,
.skills p,
.projects p,
.contact p {
  font-size: 18px;
}

.skills .skill-list {
  display: flex;
  justify-content: center;
}
.skills .skill-list .skill {
  background: #000;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.projects .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.projects .project-grid .project-card {
  background: #000;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.projects .project-grid .project-card h3 {
  margin-top: 0;
}

.contact .contact-button {
  background: #000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}
.contact .contact-button:hover {
  background: #343a40;
}

.footer {
  background: #343a40;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 0;
  }
}

.project-section {
  display: flex;
}
.project-section a {
  color: #000;
}
.project-section .project-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-section .tabs {
  min-width: 250px;
  position: sticky;
  top: 50px;
}
.project-section .tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-section .tabs ul li {
  padding: 15px;
  cursor: pointer;
  background-color: #f8f9fa;
  margin-bottom: 5px;
  border-radius: 5px;
}
.project-section .tabs ul li.active {
  background: #000;
  color: white;
}
.project-section .tabs ul li:hover {
  background: #343a40;
  color: white;
}
.project-section .tab-content {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}
.project-section .tab-content .tab-item {
  display: none;
}
.project-section .tab-content .tab-item.active {
  display: block;
}
.project-section .tab-content .tab-item .img-container {
  position: relative;
}
.project-section .tab-content .tab-item img {
  max-width: 100%;
  height: auto;
  width: 100%;
  min-height: 450px;
  max-height: 450px;
  border-radius: 10px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.project-section .tab-content .tab-item .description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.project-section .tab-content .tab-item .description p {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 1;
  opacity: 0.7;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
.footer .footer-content p {
  margin: 0;
  font-size: 14px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 8px;
  background-color: #fff;
}

form label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  color: #333;
  text-align: left;
}

form input[type=email],
form textarea {
  width: 100%;
  padding: 14px 12px;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 50px;
  box-sizing: border-box;
}

form button[type=submit] {
  display: inline-block;
  padding: 14px 20px;
  margin-top: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type=submit]:hover {
  background-color: #0056b3;
}

.heart-icon {
  font-size: 1rem;
  color: #ff6b6b;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
/* Responsive adjustments */
@media (max-width: 600px) {
  form {
    padding: 30px 20px;
  }
  form button[type=submit] {
    width: 100%;
  }
  .project-section .tabs ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .project-section .tabs ul li {
    font-size: 12px;
    padding: 6px 5px;
    display: inline-flex;
    max-width: calc(33.33% - 14px);
    min-width: calc(33.33% - 14px);
    align-items: center;
    justify-content: center;
    word-break: break-word;
    margin-right: 4px;
  }
  .project-section .project-content {
    flex-direction: column;
  }
  .project-section .tabs {
    position: unset !important;
  }
  .project-section .tab-content {
    margin-left: 0;
  }
  .project-section .tab-content .tab-item img {
    width: auto;
    height: auto !important;
    max-height: unset;
    min-height: unset;
  }
}
@media (max-width: 1400px) {
  .project-section .tab-content .tab-item img {
    height: 400px;
  }
}
.skills .skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.skills .skill-list .skill {
  background-color: #1f1f1f;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.skills .skill-list .skill:hover {
  transform: translateY(-5px);
  background-color: #292929;
}

.fish-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* To prevent the fish from moving outside the viewport */
  /* Light blue background to represent water */
}

.fish {
  position: absolute;
  width: 80px; /* Adjust size as needed */
  animation: swim 8s infinite ease-in-out;
  z-index: 99;
}

@keyframes swim {
  0% {
    transform: translateX(-100px) rotateY(0deg);
  }
  25% {
    transform: translateX(50vw) translateY(100px) rotateY(15deg);
  }
  45% {
    transform: translateX(100vw) translateY(200px) rotateY(-15deg);
  }
  55% {
    transform: translateX(100vw) translateY(150px) rotateY(-150deg);
  }
  75% {
    transform: translateX(50vw) translateY(100px) rotateY(-150deg);
  }
  100% {
    transform: translateX(-100px) translateY(300px) rotateY(-150deg);
  }
}
.water-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.bubbles {
  position: absolute;
  bottom: -100px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  animation: bubble-rise 5s infinite ease-in-out;
  opacity: 0;
}

@keyframes bubble-rise {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1200px);
    opacity: 0;
  }
}
.bubbles:nth-child(1) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-duration: 7s;
  animation-delay: 0s;
}

.bubbles:nth-child(2) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubbles:nth-child(3) {
  left: 70%;
  width: 10px;
  height: 10px;
  animation-duration: 6s;
  animation-delay: 4s;
}

.bubbles:nth-child(4) {
  left: 30%;
  width: 20px;
  height: 20px;
  animation-duration: 8s;
  animation-delay: 1s;
}

.bubbles:nth-child(5) {
  left: 80%;
  width: 30px;
  height: 30px;
  animation-duration: 9s;
  animation-delay: 3s;
}

.timeline {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 30px 0 10px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border-left: 2px dashed #000;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.timeline-item:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-year {
  width: 50%;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  position: relative;
  padding-right: 20px;
  text-align: right;
}

.timeline-year::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-year::before {
  content: "";
  width: 30px;
  height: 1px;
  border-top: 2px dashed #000;
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-item:nth-child(even) .timeline-year {
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
}

.timeline-item:nth-child(even) .timeline-year::after {
  left: -7px;
}

.timeline-item:nth-child(even) .timeline-year::before {
  left: -5%;
}

.timeline-content {
  background-color: white;
  color: black;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timeline-item:nth-child(even) .timeline-content {
  margin-right: 40px;
}

.timeline-item:nth-child(odd) .timeline-content {
  margin-left: 40px;
}

.timeline h3 {
  margin: 0 0 10px;
  color: black;
}

.timeline p {
  margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .timeline {
    width: 100%;
    padding-bottom: 10px !important;
  }
  .timeline-item {
    flex-direction: column !important;
    align-items: flex-start;
  }
  .timeline-year {
    width: 100%;
    text-align: left;
    padding-right: 0;
    margin-bottom: 15px;
    margin-left: 20px !important;
    padding-left: 20px !important;
  }
  .timeline-item:nth-child(even) .timeline-year {
    text-align: left;
    padding-left: 0;
  }
  .timeline-content {
    width: calc(100% - 60px);
    margin: 0 0 0 10px !important;
  }
  .timeline::before {
    left: 0;
  }
  .timeline-year::before {
    left: -18px !important;
    width: 20px !important;
  }
  .timeline-year::after {
    left: -5px !important;
  }
}
.menu-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100vw;
}

.nav-wrapper {
  overflow-x: hidden;
  white-space: nowrap;
  width: calc(100% - 60px);
}

.nav-links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

button {
  background-color: transparent;
  color: #1f1f1f;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.header .navbar .nav-links {
  justify-content: flex-end;
}

.nav-left-btn,
.nav-right-btn {
  flex-shrink: 0;
  z-index: 1;
  display: none;
}

@media (max-width: 768px) {
  .nav-left-btn,
  .nav-right-btn {
    display: block;
    background-color: transparent;
    color: #fff;
  }
  .header .navbar .nav-links {
    justify-content: unset;
  }
  .header-scrolled .nav-left-btn,
  .header-scrolled .nav-right-btn {
    display: block;
    background-color: transparent;
    color: #000;
  }
  .header .navbar .logo {
    font-size: 20px;
    font-weight: 600;
    display: none;
  }
  .header .navbar .nav-links li a {
    font-size: 14px;
    font-weight: 500;
  }
  .header .navbar .nav-links {
    padding: 0;
  }
  .header .navbar .nav-links li {
    margin: 0 6px;
  }
  .header .navbar .nav-links {
    margin: 0;
  }
  .header .hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .header .hero p {
    font-size: 20px;
  }
  section h2 {
    font-size: 30px;
  }
  section p,
  .about p,
  .skills p,
  .projects p,
  .contact p {
    font-size: 16px;
  }
  section {
    padding: 70px 15px 40px 15px;
  }
  .skills .skill-list .skill {
    margin: 0;
    font-size: 14px;
    padding: 6px 10px;
  }
  .timeline-year {
    font-size: 1rem !important;
  }
  .timeline-item {
    margin-bottom: 25px;
  }
}
.testimonial {
  max-width: 400px;
  padding: 30px 40px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
}

.testimonial .stars span {
  color: #a2cf40;
  font-size: 24px;
}
.testimonial .stars span i {
  margin-right: 8px;
}
.testimonial .stars span i img {
  height: 20px;
  width: 20px;
}

.testimonial h3 {
  font-size: 22px;
  line-height: 1.6;
  color: #333;
  margin: 10px 0;
  font-weight: 600;
}

.testimonial .description {
  font-size: 16px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 15px;
}

.testimonial .author {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.testimonial .author P {
  margin-bottom: 0;
}
.testimonial .author strong {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .testimonial {
    padding: 20px 15px;
  }
  .about a {
    font-size: 16px;
  }
  .about li {
    margin: 5px;
  }
  .testimonial h3 {
    font-size: 18px;
  }
}
.work {
  overflow: hidden;
}

@media (max-width: 330px) {
  .project-section .tab-content .tab-item .description p {
    font-size: 14px;
  }
  .testimonial h3 {
    font-size: 16px;
  }
  .testimonial .author {
    font-size: 10px;
  }
  section h2 {
    font-size: 28px;
  }
  .timeline p {
    font-size: 14px;
  }
  .skills .skill-list {
    gap: 5px;
  }
  .skills .skill-list .skill {
    font-size: 12px;
  }
  .about a {
    font-size: 14px;
  }
  .header .hero h1 {
    font-size: 30px;
    margin-bottom: 7px;
    max-width: 300px;
    margin: 0 auto 20px auto;
    text-wrap: balance;
  }
  .testimonial .description {
    font-size: 14px;
  }
  .timeline-content {
    width: calc(100% - 50px);
  }
}
.contact-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.contact-card p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.contact-card a {
  color: #000;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.section-with-border {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-with-border::before, .section-with-border::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #333;
}

.section-with-border::before {
  margin-right: 20px;
}

.section-with-border::after {
  margin-left: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 767px) {
  .circle {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .contact-card {
    width: auto;
  }
}/*# sourceMappingURL=styles.css.map */